Repository tamnpham/WebApplication: changes, and which Jenkins stages are due for each by the changed paths.
All: Server, Client

Server:
            agent any
            steps {
              sh '''echo $USER
  sudo docker login -u tamnpham -p tam200016'''
              sh '''cd backend
  sudo docker-compose down
  sudo docker-compose up -d --build'''
            }
          

Client:
            agent any
            steps {
              sh 'sudo docker login -u tamnpham -p tam200016'
              sh '''cd frontend/dashboard
  sudo docker-compose down
  sudo docker-compose up -d --build'''
            }
          

Create trigger.txt
  frontend/trigger.txt
Due: Client

Update trigger.txt
  frontend/trigger.txt
Due: Client

Create trigger.txt
  backend/trigger.txt
Due: Server

Update trigger.txt
  backend/trigger.txt
Due: Server

add ip
  frontend/dashboard/src/components/authentication/login/LoginForm.js
  frontend/dashboard/src/components/authentication/register/RegisterForm.js
  frontend/dashboard/src/components/blog/PostCard.js
  frontend/dashboard/src/components/history/CenterTab.js
  frontend/dashboard/src/components/scoreboard/CenterTab.js
  frontend/dashboard/src/layouts/dashboard/AccountPopover.js
  frontend/dashboard/src/layouts/dashboard/background.jpg
  frontend/dashboard/src/pages/Admin.js
  frontend/dashboard/src/pages/DashboardApp.js
  frontend/dashboard/src/pages/Post.js
  frontend/dashboard/src/pages/Quiz.js
  frontend/dashboard/src/pages/Result.js
  frontend/dashboard/src/pages/User.js
  node_modules/.package-lock.json
  node_modules/dotenv/CHANGELOG.md
  node_modules/dotenv/LICENSE
  node_modules/dotenv/README.md
  node_modules/dotenv/config.js
  node_modules/dotenv/package.json
  node_modules/dotenv/types/index.d.ts
  node_modules/dotenv/types/test.ts
  node_modules/dotenv/types/tsconfig.json
  node_modules/dotenv/types/tslint.json
  package-lock.json
  package.json
Due: Client

Create .env
  frontend/dashboard/.env
Due: Client

Update .env
  frontend/dashboard/.env
Due: Client

Update index.html
  frontend/dashboard/public/index.html
Due: Client

Delete trigger.txt
  trigger.txt
Due: none

Delete trigger.txt
  backend/trigger.txt
Due: Server

Delete trigger.txt
  frontend/trigger.txt
Due: Client

Provided filters for blog, question, category
  backend/README.md
  backend/apps/blogs/admin.py
  backend/apps/blogs/filters.py
  backend/apps/blogs/views.py
  backend/apps/core/paginations.py
  backend/apps/core/views.py
  backend/apps/questions/filters.py
  backend/apps/questions/views.py
  backend/apps/quizzes/views.py
Due: Server

Create docker-compose.yaml
  docker-compose.yaml
Due: none

Added Jenkinsfile
  Jenkinsfile
Due: none

add docker-compose
  docker-compose.yaml
Due: none

fix django_filters
  backend/requirements.txt
Due: Server

Update requirements.txt
  backend/requirements.txt
Due: Server

Update docker-compose.yaml
  docker-compose.yaml
Due: none

Fixed requirements bug
  backend/requirements.txt
Due: Server

fix https
  frontend/dashboard/src/components/admin/addCategory.js
  frontend/dashboard/src/components/admin/addPost.js
  frontend/dashboard/src/components/admin/addQuestion.js
  frontend/dashboard/src/components/admin/deleteCategory.js
  frontend/dashboard/src/components/admin/deletePost.js
  frontend/dashboard/src/components/admin/deleteQuestion.js
  frontend/dashboard/src/components/admin/editCategory.js
  frontend/dashboard/src/components/admin/editPost.js
  frontend/dashboard/src/components/admin/editQuestion.js
Due: Client

fix
  frontend/dashboard/src/layouts/dashboard/DashboardNavbar.js
  frontend/dashboard/src/pages/Comments.js
  frontend/dashboard/src/pages/Post.js
Due: Client

Update CenterTab.js
  frontend/dashboard/src/components/history/CenterTab.js
Due: Client

Fixed url error in migrating to other VM
  backend/apps/blogs/serializers.py
  backend/apps/questions/serializers.py
  backend/apps/users/serializers.py
Due: Server

Fixed media returned URL
  backend/apps/blogs/serializers.py
  backend/apps/questions/serializers.py
  backend/apps/users/serializers.py
Due: Server

Temporarily config DB setting
  backend/backend/settings.py
Due: Server

Updated README for filter and image url in response
  backend/README.md
Due: Server

Fixed media URL
  backend/apps/blogs/serializers.py
  backend/apps/questions/serializers.py
  backend/apps/users/serializers.py
  backend/apps/users/views.py
Due: Server

Path conditions:
  Server: any of: backend/**
  Client: any of: frontend/**
